<div {{ sdcAttributes }}>
  <h2 class="sdc--my-card__header">{{ header }}</h2>
  <div class="sdc--my-card__body">
    {% block card_body %}
      Default contents for a card
    {% endblock %}
  </div>
</div>
